<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
     <!--激活该地址下的controller,service,component,repository,resource等-->
    <context:component-scan base-package="com.demo.project.controller"/>
    <!--激活发布web服务的能力 一系列注解
    如 RequestMapping-->
    <mvc:annotation-driven/>
  <!--  在requestMapping中找不到，交给tomcat到静态资源里面找-->
    <mvc:default-servlet-handler/>
</beans>